* {
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: white;
}


.ball {
    height: 100px;
    width: 100px;

    margin: auto;
    border-radius: 50%;
    background-color: steelblue;
}